@model OnlineShop.Application.ViewModels.CheckoutViewModel
@{
    var totalPrice = 0.0;
    var index = 1;

}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link">
                    <span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                    here to enter your code.
                </h6>
            </div>
        </div>
        @* <form method="post" asp-action="Login"> *@
        <form method="post" asp-action="PlaceOrder" class="checkout__form">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Billing detail</h5>
                    @* @Html.ValidationSummary() *@
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>First Name <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.FirstName" type="text">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Last Name <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.LastName" type="text">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Country <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.Country" type="text">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.Country" class="text-danger"></span>
                            </div>
                            <div class="checkout__form__input">
                                <p>Address <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.StreetAddress" type="text" placeholder="Street Address">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.StreetAddress" class="text-danger"></span>
                                <input type="text" placeholder="Apartment. suite, unite ect ( optinal )">
                            </div>
                            <div class="checkout__form__input">
                                <p>Town/City <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.TownCity" type="text">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.TownCity" class="text-danger"></span>
                            </div>
                            <div class="checkout__form__input">
                                <p>Country/State <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.CountryState" type="text">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.CountryState" class="text-danger"></span>
                            </div>
                            <div class="checkout__form__input">
                                <p>Postcode/Zip <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.Postcode" type="text">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.Postcode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Phone <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.Phone" type="text">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Email <span>*</span></p>
                                <input asp-for="@Model.CustomerPlaceOrder.Email" type="text">
                                <span asp-validation-for="@Model.CustomerPlaceOrder.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            
                            <div class="checkout__form__input">
                                <p>Oder notes <span>*</span></p>
                                <input type="text"
                                       placeholder="Note about your order, e.g, special noe for delivery">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__order">
                        <h5>Your order</h5>
                        <div class="checkout__order__product">
                            <ul>
                                <li>
                                    <span class="top__text">Product</span>
                                    <span class="top__text__right">Total</span>
                                </li>
                                @if (Model.Cart.Count > 0)
                                {
                                    foreach (var cartItem in Model.Cart)
                                    {
                                        var finalPrice = cartItem.Product.Price * cartItem.Quantity;
                                        totalPrice += finalPrice;
                                        <li>@cartItem.Product.Name <span>$ @string.Format("{0:#,##0.00}", finalPrice)</span></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="checkout__order__total">
                            <ul>
                                <li>Subtotal <span>$ @string.Format("{0:#,##0.00}", totalPrice)</span></li>
                                <li>Total <span>$ @string.Format("{0:#,##0.00}", totalPrice)</span></li>
                            </ul>
                        </div>
                        <div class="checkout__order__widget">
                            
                            <label for="check-payment">
                                Cheque payment
                                <input type="checkbox" id="check-payment">
                                <span class="checkmark"></span>
                            </label>
                            <label for="paypal">
                                PayPal
                                <input type="checkbox" id="paypal">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <button type="submit" class="site-btn">Place oder</button>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(p => p.CustomerPlaceOrder.Subtotal, totalPrice)
            @Html.HiddenFor(p => p.CustomerPlaceOrder.Total, totalPrice)
        </form>
    </div>
</section>
<!-- Checkout Section End -->
