@model List<OnlineShop.Application.ViewModels.CartItemViewModel>
@{
    var totalPrice = 0.0;
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<form method="post" action="@Url.Action("UpdateCart","ShopCart")">
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        @if (Model.Count > 0)
                        {
                            <!-- Shop Cart Section Begin -->
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cartItem in Model)
                                    {
                                        var finalPrice = cartItem.Product.Price * cartItem.Quantity;
                                        totalPrice += finalPrice;
                                        <tr>
                                            <td class="cart__product__item">
                                                <img src="~/img/product/S@cartItem.Product.DefaultImage" alt="" width="15%">
                                                <div class="cart__product__item__title">
                                                    <h6>@cartItem.Product.Name</h6>
                                                    @* <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div> *@
                                                </div>
                                            </td>
                                            <td class="cart__price">$ @string.Format("{0:#,##0.00}", cartItem.Product.Price)</td>
                                            <td class="cart__quantity">
                                                <div class="pro-qty">
                                                    <input type="text" name="quantities[@cartItem.Product.Id]" value="@cartItem.Quantity">
                                                </div>
                                            </td>
                                            <td class="cart__total">$ @string.Format("{0:#,##0.00}", finalPrice)</td>
                                            <td class="cart__close">
                                                <a href="@Url.Action("RemoveCart", "ShopCart", new { productId = cartItem.Product.Id })">
                                                    <span class="icon_close"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>




                            <!-- Shop Cart Section End -->
                        }
                        else
                        {
                            <p class="alert alert-danger">Giỏ hàng trống</p>
                        }
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="cart__btn">
                                    <a href="@Url.Action("Index", "Shop")">Continue Shopping</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="cart__btn update__btn">
                                    @* <a href="#"><span class="icon_loading"></span> Update cart</a> *@
                                    <button type="submit" class="site-btn">Update cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="discount__content">
                                    <h6>Discount codes</h6>
                                    <form method="post" action="@* @Url.Action("ApplyVoucher","ShopCart") *@">
                                        <input type="text" placeholder="Enter your coupon code" name="coupon">
                                        <button type="submit" class="site-btn">Apply</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-2">
                                <div class="cart__total__procced">
                                    <h6>Cart total</h6>
                                    <ul>
                                        <li>Subtotal <span>$ @string.Format("{0:#,##0.00}", totalPrice) </span></li>
                                        <li>Total <span>$ @string.Format("{0:#,##0.00}", totalPrice)</span></li>
                                    </ul>
                                    <a asp-controller="Checkout" asp-action="Index" class="primary-btn">Proceed to checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".updatecartitem").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var quantity = $("#quantity-" + productid).val();
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updatecart")",
                    data: {
                        productid: productid,
                        quantity: quantity
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            });
        });
    </script>
}